@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #4C6D1C;
    /* Colore primario */
    --color-secondary: #FDDD57;
    /* Colore secondario (testo dorato) */
    --color-background: #0B0B0B;
    /* Colore di sfondo */
    --color-text: #FDDD57;
    /* Colore del testo */
    --color-muted: #B0B0B0;
    /* Colore per il testo sbiadito */
    /* Aggiungi ulteriori variabili se necessario */
}

/* Apply the custom background color */
body {
    @apply bg-background;
}